body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4;
}

h1 {
	color: #333;
	margin-bottom: 20px;
}

#game-container {
	text-align: center;
	background: white;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	gap: 5px;
	margin-bottom: 20px;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #555;
	background-color: #ddd;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.cell:hover {
	background-color: #ccc;
}

#reset-button {
	font-size: 16px;
	padding: 10px 20px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s;
}

#reset-button:hover {
	background-color: #0056b3;
}

#status {
	font-size: 1.25em;
	color: #333;
	margin-top: 10px;
}

#leader-board {
	margin-top: 20px;
	width: 100%;
	max-width: 400px;
}

#leader-board table {
	width: 100%;
	border-collapse: collapse;
}

#leader-board th,
#leader-board td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#leader-board th {
	background-color: #007bff;
	color: white;
}

#leader-board td {
	background-color: #f9f9f9;
}

#leader-board tr:nth-child(even) {
	background-color: #f2f2f2;
}
